a{
    text-decoration: none;
}
nav li{
    list-style: none;
}

.cart{
    width: 25px;
    height: 25px;
    margin-right: 8px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 20px 10%;
    align-items: center;
}
.ul{
    display: flex;
    gap: 35px;
    align-items: center;
}
.ul_img{
    display: flex;
    align-items: center;
}
.hero{
    display: flex; 
    margin: 20px 130px;
    align-items: end;
}
/* header responsive */
@media screen and (max-width: 567px){
    .ul{
        visibility: hidden;
    }
    .ul_img{
        visibility: visible;
    }
    .header{
        margin: 20px 4%;
        
    }
    .hero{
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
        
    }
    .content-hero{
        margin: 20px 4%;
    }
}

.text1{
    font-size: 50px;
}
.p2{
    color: #00000088;
}
.plants{
    text-align: center;
    margin: 60px 10%;
}
.flower-container{
    margin: 20px 130px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.flower-box{
    text-align: center;
}
.flower-box p{
    font-weight: 800;
}
.flower-box h4{
    font-weight: normal;
}
.flower-box img{
    width: 100%;
}
.btn{
    width: 100%;
    background-color: #E95A08;
    padding: 10px;
    border: none;
}

/* flower box responsive */
@media screen and (max-width: 567px){
    .flower-container{
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 4%;
    }
}

/* plants lover section */
.trusted_seal{
    width: 280px;
    height: 280px;
    position: relative;
    right: -480px;
    top: 150px;
}
.trusted_seal img{
    width: 100%;
}
.plants-lover{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 130px;
}


/* plant lover responsive */
@media screen and (max-width: 567px){
    .trusted_seal{
        visibility: hidden;
    }
    .plants-lover{
        display: flex;
        flex-direction: column;
        margin: 20px 4%;
        
    }
    .flower_store_img img{
        width: 100%;
    }
}

/* discount box section */
.discount_box_container{
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 130px;
    gap: 30px;
}
.dis_box1{
    background-image: url(./assets/deal-bloom.png);
    background-repeat: no-repeat;
    /* text-align: center; */
    background-size: cover;
    
}
.dis_box2{
    background-image: url(./assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.dis_box3{
    background-image: url(./assets/deal-zabo.png);
    background-repeat: no-repeat;
    grid-row: span ;
    
    background-size: cover;
}